# Strings

* Created: 15/02/2023
* Updates: 18/01/2025

Een selectie van 16 van de 44 string methods in Python.

#Kenmerken

Een "string" is een tekst die omsloten is door enkele of dubbele aanhalingstekens. Een string mag iedere lengte mag hebben, inclusief een lengte nul ("").

[capitalize](#capitalize), [casefold](#casefold), [center](#center), [count](#count), [encode](#encode), ...

#Methods (44)

<a id="capitalize"></a>
1 capitalize() - verander het eerste karakter van een string in een hoofdletter

In [ ]:
# voorbeeld van het gebruik van capitalize()
stadion = "sOEst"
print(stadion.capitalize())

<a id="casefold"></a>
2 casefold() - verander alle characters van een string in small-caps

In [ ]:
# voorbeeld van het gebruik van casefold()
stadion = "ArenA"
print(stadion.casefold())

<a id="center"></a>
3 center() - centreer een string

In [ ]:
# voorbeeld van het gebruik van center()
stadion = "arena"
meetlat = "01234567890123456789"
print(meetlat)
print(stadion.center(20,"-"))

<a id="count"></a>
4 count() - tel hoe vaak een karakter in een string voorkomt

In [ ]:
# voorbeeld van het gebruik van count()
stadion = "arena1"
print(stadion.count("1"))

<a id="encode"></a>
5 encode() - geef alle elementen van een dictionary weer

In [ ]:
# voorbeeld van het gebruik van encode()
stadion ="äïüë"
print(stadion.encode())

<a id="endswith"></a>
6 endswith() - true indien het einde van de string op een bepaald karakter eindigd

In [ ]:
# voorbeeld van het gebruik van endswith()
stadion ="ArenA"
print(stadion.endswith("r"))

<a id="expandtabs"></a>
7 expandtabs() -

In [ ]:
# voorbeeld van het gebruik van expandtabs()

8 find() -

In [ ]:
# voorbeeld van het gebruik van find()

9 format() - formateert een elelement in een string

In [ ]:
# voorbeeld van het gebruik van format()
answer = "For only {price:.2f} dollars!"
print(answer.format(price=49))

10 format_map() - wijzig de waarde van een dictionary element

In [ ]:
# voorbeeld van het gebruik van format_map()

11 index() - zoekt in een sting naar een karakter en geeft de positie van het karakter weer

In [ ]:
# voorbeeld van het gebruik van index()
stadion = "Amsterdam ArenA"
print(stadion.index("e"))

12 isalnum()

13 isalpha()

14 isascii()

In [ ]:
# voorbeeld van het gebruik van isascii

15 isdecimal()

In [ ]:
# voorbeeld van het gebruik van isdecimal()
s = "0101012"
print(s.isdecimal())

16 isdigit()

In [ ]:
# voorbeeld van het gebruik van isdigit()
s = "0101012"
print(s.isdigit())

17 islower()

In [ ]:
# voorbeeld van het gebruik van islower()

18 isidentifier()

19

In [ ]:
zin = "een voorbeeld"
print(zin.title())

20

In [ ]:
zin = "wat wordt verstaan onder identifier"
print(zin.isidentifier())

21

22

23

24

25

98 lower()

In [ ]:
# voorbeeld van het gebruik van lower()
stadion = "ArenA"
print(stadion.lower())

99 upper()

In [ ]:
# voorbeeld van het gebruik van upper()
stadion = "ArenA"
print(stadion + stadion.upper())

In [ ]:
import numpy as np
np.random.seed(1)
arr1 = np.random.random((3, 4))
print(arr1.sum())

In [ ]:
#What is a correct syntax to return the index of all items that has the value 4 from the array below:
arr1 = np.array([1,4,3,4,5,4,4,5])
print(np.where(arr1==5))