#Lists

* created : 26-09-2022
* updated : 26-09-2023

#Kenmerken

*   Lijsten kunnen verschillende datatypes (en datastructuren) bevatten
*   De elementen van een lijst hoeven niet uniek te zijn

#Methods

In [ ]:
#@title 1 append() - voeg een element toe aan het eind van de lijst { display-mode: "code" }
# voorbeeld:
klas = ['Seyma','Felix',"CÃ©sar", "0001", 10]
klas.append('Mouaad')
print(klas)

In [ ]:
#@title 2 clear() - verwijder alle elementen uit een lijst { display-mode: "code" }
# voorbeeld:
klas = ['Sergi','Nick']
print("before clear(): ",klas)
klas.clear()
print("after clear(): ",klas)

In [ ]:
#@title 3 copy() - kopieer een lijst { display-mode: "code" }
# voorbeeld van het gebruik van copy()
klas = ['Amra','Saron']
team = klas.copy()
print("Oorspronkelijke lijst :",klas)
print("Gekopieerde lijst :",team)

In [ ]:
#@title 4 count() - tel het aantal keren dat een element in een lijst voorkomt { display-mode: "code" }
# voorbeeld:
klas = ['Nathan','Bas','Bas']
print("Aantal keren 'Bas' in de lijst: ", klas.count("Bas"))

<a class="anchor" name="list_method_count"></a>
## 5 extend()
verleng een lijst met de elementen van een andere lijst

In [ ]:
# voorbeeld van het gebruik van extend()
klas1 = ['Noadja','Furkan']
klas2 = ['Luuk','Julia']
klas1.extend(klas2)
print(klas1)

<a class="anchor" name="list_method_index"></a>
##6 index()
bepaal de positie van een element in een lijst

In [ ]:
#voorbeeld van het gebruik van index()
klas = ['Nathan','Akash','Luuk','Sam']
x = klas.index('Nathan')
print("Positie van Nathan in de lijst: ", x)
#merk op: indices beginen bij 0

<a class="anchor" name="list_method_insert"></a>
## 7 insert()
tussenvoegen van een element in een lijst op een aangegeven locatie

In [ ]:
# voorbeeld van het gebruik van insert()
klas = ['Amra','Romek','Akash']
klas.insert(0,'Ditte')
print(klas)

In [ ]:
#@title 8 pop() - verwijderen van een element op een bepaalde positie uit een lijst { display-mode: "code" }
# voorbeeld van het gebruik van pop()
klas = ['Amra','Amra','Akash','Akash','Nathan','Bas','Bas']
klas.pop(1)
print(klas)
klas.pop(1)
print(klas)

In [ ]:
#@title 9 remove() - verwijderen het eerst overeenkomende element uit de lijst { display-mode: "code" }
# voorbeeld:
klas = ['Amra','Amra','Akash','Akash']
klas.remove('Amra')
print(klas)

10 reverse() - keer de volgorde om van de elementen in een lijst

In [ ]:
# voorbeeld van het gebruik van reverse()
klas = ['Wessel','Keke','Sam','Ditte']
klas.reverse()
print(klas)

11 sort() - sorteer de elementen in een lijst (op alfabet)

In [ ]:
# voorbeeld van het gebruik van sort()
klas = ['Wessel','Keke','Sam','Ditte']
klas.sort()
print(klas)